<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all',
  'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="icon" type="image/png" href="<%=image_path('favicon/favicon-32x32.png')%>" >
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
    <div id="loader"></div>        
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->
  <%= render 'layouts/header' %>
  <div id="main">
    <div class="wrapper">    
      <%= render 'layouts/sidebar' %>
      <section id="content">
        <div class="container">
          <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
          <%= render 'layouts/footer' %>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </section>
    </div>
  </div>
</body>
</html>